@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Poppins&display=swap');
body{
    background-color: #fff;
    margin: 0px;
}
body*{
    box-sizing: border-box;
    width: 100vh;
}

.main-cadastro{
    padding-top: 2rem;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    border-radius: 5px;
}
.left-cadastro{
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro > img {
    max-width: 80%;
    height: auto;
}

.left-cadastro > h1{
    font-size: 3vw;
    color: yellow;
    font-family: 'Poppins', sans-serif;
}
.rigth-cadastro{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-cadastro{
    width: 60%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.800rem 2.1875rem;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

}
.card-cadastro > h2{
    color: rgba(254, 196, 21, 0.858);
    font-weight: 800;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.textfild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfild >input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: .9375rem;
    background:#514869 ;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow:  0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.textfild > label{
    color:#f0ffffde;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.textfild > input::placeholder{
    color: #f0ffff94;
    font-family: 'Poppins', sans-serif;
}
.btn-cadastro{
    font-size: large;
    width: 100%;
    padding: 1rem 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background: #ff0000;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cadastro:hover{
    background-color: #c70000;
}

.btn-cadastro a{
    text-decoration: none; 
    color: inherit; 
}

@media only screen and(max-width: 950px){
    .card-cadastro{
        width: 85%;
    }

}
@media only screen and(max-width: 950px){
    .main-cadastro{
        flex-direction: column;
    }
    .left-cadastro > h1{
        display: none;
     }
    .left-cadastro{
        width: 100%;
        height: auto;
    } 
    .rigth-cadastro{
        width: 100%;
        height: auto;
    }
    .left-cadastro-image{
        width: 50vw;
    }
    .card-cadastro{
        width: 90%;
    }

}

@media (max-width: 950px) {
    .main-cadastro {
        flex-direction: column;
        justify-content: center;
    }

    .left-cadastro, .rigth-cadastro {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .left-cadastro > img {
        width: 70%; /* Diminui o tamanho da imagem */
    }

    .card-cadastro {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .left-cadastro > img {
        width: 60%; /* Reduz ainda mais a imagem em telas menores */
    }

    .card-cadastro {
        width: 90%;
    }
}